@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>You are in the Laptop Controller</h1>

<ul>
    <li>
        <a asp-controller="Laptop" asp-action="ExpensiveLaptop">View the Most Expensive Laptop</a>
    </li>
    <li>
        <a asp-controller="Laptop" asp-action="CheapestLaptop">View the Cheapest Laptops</a>
    </li>
    <li>
        <a asp-controller="Laptop" asp-action="LaptopInBudget">View Laptops in your Budget</a>
    </li>
    <li>
        <a asp-controller="Laptop" asp-action="CompareLaptops">Compare Laptops</a>
    </li>
    <li>
        <a asp-controller="Laptop" asp-action="CreateLaptop">Create Laptops</a>
    </li>
</ul>